/* Natcore Design System */
@import "tailwindcss";

/* Plugin with default colors */
@plugin "@nataliebasille/natcore-design-system-v2/plugin";

/* Enable light-dark() CSS function */
:root {
  color-scheme: light dark;
}

@import "./themes/colors.css";
@import "./themes/palette.css";

/* Variants */
@import "./variants/active.css";
@import "./variants/interactive.css";

/* Utilities */
@import "./utilities/article.css";
@import "./utilities/headings.css";

/* Components */
@import "./components/button.css";
@import "./components/card.css";
@import "./components/list.css";
@import "./components/tray.css";
