/* Natcore Design System */
@import "tailwindcss";

/* Plugin with default colors */
@plugin "@nataliebasille/natcore-design-system-v2/plugin";

/* Note: color-scheme is now controlled by user via scheme-* utility classes */

@import "./themes/colors.css";
@import "./themes/palette.css";

/* Variants */
@import "./variants/active.css";
@import "./variants/dark.css";
@import "./variants/interactive.css";

/* Utilities */
@import "./utilities/article.css";
@import "./utilities/headings.css";

/* Components */
@import "./components/button.css";
@import "./components/button-group.css";
@import "./components/card.css";
@import "./components/code.css";
@import "./components/tabs.css";
@import "./components/tray.css";
