@theme inline {
  /* solid button */
  --btn-bg-standard-solid: var(--btn-tone-500);
  --btn-text-standard-solid: var(--btn-tone-text-500);
  --btn-bg-hover-solid: var(--btn-tone-900);

  /* outline button */
  --btn-bg-standard-outline: transparent;
  --btn-text-standard-outline: var(--btn-tone-500);
  --btn-border-color-outline: var(--btn-tone-500);
  --btn-bg-hover-outline: var(--btn-tone-50);
  --btn-text-hover-outline: var(--btn-tone-text-50);

  /* ghost button */
  --btn-bg-standard-ghost: color-mix(
    in srgb,
    var(--btn-tone-500),
    transparent 80%
  );
  --btn-bg-hover-ghost: color-mix(
    in srgb,
    var(--btn-tone-500),
    transparent 60%
  );
  --btn-text-standard-ghost: var(--btn-tone-800);
  --btn-text-hover-ghost: var(--btn-tone-800);
  --btn-border-color-standard-ghost: color-mix(
    in srgb,
    var(--btn-tone-500),
    transparent 20%
  );
  --btn-border-color-hover-ghost: var(--btn-tone-500);
  --btn-box-shadow-focus-ghost: 0 0 0 3px var(--color-gray-300);

  /* ghost outline button */
  --btn-bg-standard-ghost-outline: transparent;
  --btn-text-standard-ghost-outline: var(--color-gray-600);
  --btn-border-color-standard-ghost-outline: var(--color-gray-300);
  --btn-bg-hover-ghost-outline: var(--color-gray-100);
}

@utility btn-* {
  /* modifier overrides */
  --btn-tone-50: var(--color-50-primary);
  --btn-tone-50: --modifier(--color-50-*);
  --btn-tone-text-50: var(--color-text-50-primary);
  --btn-tone-text-50: --modifier(--color-text-50-*);
  --btn-tone-500: var(--color-500-primary);
  --btn-tone-500: --modifier(--color-500-*);
  --btn-tone-text-500: var(--color-text-500-primary);
  --btn-tone-text-500: --modifier(--color-text-500-*);
  --btn-tone-800: var(--color-800-primary);
  --btn-tone-800: --modifier(--color-800-*);
  --btn-tone-900: var(--color-900-primary);
  --btn-tone-900: --modifier(--color-900-*);

  @apply cursor-pointer px-[1em] py-[.75em] border transition-all ease-in-out duration-250 rounded-lg;

  background-color: --value(--btn-bg-standard-*);
  border-color: --value(--btn-border-color-standard-*);
  color: --value(--btn-text-standard-*);

  &:hover {
    background-color: --value(--btn-bg-hover-*);
    color: --value(--btn-text-hover-*);
    border-color: --value(--btn-border-color-hover-*);
  }

  &:focus {
    outline: none;
    box-shadow: --value(--btn-box-shadow-focus-*);
  }

  &:active {
    transform: scale(0.95);
  }
}

@utility btn-size-* {
  font-size: --value(--text-*);
  line-height: --value(--text-* --line-height);
}
