@utility code {
  @layer components {
    @apply w-full overflow-hidden overflow-x-auto rounded-md bg-slate-800 text-balance whitespace-pre;

    font-family:
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      Liberation Mono,
      Courier New,
      monospace;
    padding: --spacing(4);
  }
}

code {
  @apply code;
}
